body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,rgb(15, 1, 30),rgb(60, 4, 75));
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}
.App{
    margin-top: 4rem;
    padding: 1.5rem;
}


input{
    font-size: 1.2rem;
    padding: .5rem;
    border: none;
}
input:focus,input:hover{
    outline: none;
}
button{
    padding: .5rem;
    font-size: 1.2rem;
    border: none;
    background-color: #AB1E84;
    color: #fff;
    cursor: pointer;
}
button:hover,button:focus{
    opacity: .8;
}


.weatherInfo{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.weatherInfo div{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
}
.weatherInfo p{
    font-size: 1.4rem;
}
.weatherInfo strong{
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
}
.weatherInfo strong #small{
    position: absolute;
    top: 0;
    right: -.7rem; 
}
.temperature {
    position: relative;
  }
  
  .temperature::before {
    content: '\00B0'; /* Unicode for the degree symbol */
    position: absolute;
    top: 0; /* Adjust this value to position the degree symbol as needed */
    left: 100%;
  }


@media(min-width:510px) {
    .weatherInfo{
        width: 40%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 5rem auto;
        justify-content: space-between;
        align-items: center;
    }
    .weatherInfo div{
        gap: 0;
        align-items: center;
    }
   
    .weatherInfo strong #small{
        position: sticky;
        top: 0;
        right: 0%;
        margin-top: -10rem
    };
    
}